
<form class="" method="post" action="/blog/login/">
  <div class="form-group">
      <label>Username:</label>
    <input type="text"  autocomplete="off" id="id_username" name="username" maxlength="30" class="form-control" placeholder="Username">
  </div>
     <div class="form-group">
      <label>Password:</label>
    <input type="password"  autocomplete="off" id="id_password" name="password" maxlength="30" class="form-control" placeholder="Username">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>